<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @person.project_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @person.organization_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @person.event_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
